<p>THIS EMAIL IS A NOTICE.</p>

<p>
   A game like was recorded to the database, with the following
   properties:
</p>

<p>Name: <%= @result[:name] %></p>
<p>Publication Year: <%= @result[:year] %></p>
<p>Manufacturer: <%= @result[:manufacturer] %></p>
<p>Total Number of Likes: <%= @result[:likes] %></p>
<p>IP Address of Current Clicker: <%= @result[:ip] %></p>

<hr>

<strong>Arcade Videogame Catalog</strong>
<br>
